html,
body {
  margin: 0;
  padding: 0;
  background-color: #f3f4f8;
}

a {
  color: initial;
  text-decoration: none;
}

a:focus,
a:hover {
  text-decoration: none;
  color: initial;
}

* {
  box-sizing: border-box;
}
